<body>
    <div class = "container">
        
        <div id="nombre-tit">
            <h2>{{persona.nombre}}{{persona.apellido}}</h2>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class = "row align-items-center justify-content-between">
            <div class ="col-6" id="img-yo">
                <img src ={{persona.img}} class = "img-fluid" >
            </div>
            <div class = "col-6" id="sobre-mi">
                <h2>Sobre mí</h2>
                <p>{{persona.descripcion}}</p>
            </div>
        </div>
    </div>
    <div class="botedit">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            EDITAR
        </button>
    </div>
    
</body>
