<body>
    <div class = "container">
        <div id="nombre-tit">
            <h2>Juliana Araujo</h2>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class = "row align-items-center justify-content-between">
            <div class ="col-6" id="img-yo">
                <img src = " ../../../../../assets/imagenes/yo.jpeg" class = "img-fluid" >
            </div>
            <div class = "col-6" id="sobre-mi">
                <h2>Sobre mí</h2>
                <p>Juliana Araujo, nacida en Tostado, provincia de Santa Fe
                    un 25 de febrero de 2002.</p>
                <p>Estudiante de Ingenieria Informática en la UNL, pronta a comenzar
                    una tecnicatura en Desarrollo de Software.</p>
                <p>Una persona responsable, proactiva, creativa, atenta, inteligente. </p>
                <p>Amo ver series y películas(especialmente de MARVEL), me gusta leer, aprender
                    y capacitarme. Siempre estoy intentando aprender algo nuevo.</p>
            </div>
        </div>
    </div>
    
</body>
