<body>
    <div class="container">
        <div id="texto">
            <h2>HABILIDADES DURAS Y BLANDAS</h2>
        </div>
        <div class="col-lg-3 botonNuevo">
          <button type="button" class="btn btn-dark" routerLink="/nuevahab" *ngIf="isLogged">
              NUEVA SKILL
          </button>
      </div>
        
    </div>
    <div class="row align-items-center justify-content-between circulofila">
        <div class="col-lg-3 circulocol"  *ngFor="let skill of skill">
            <circle-progress
              [percent]="(skill.porcentaje)"
              [subtitle]="(skill.nombre)"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
            ></circle-progress>
            <div class="botones">
               <td *ngIf="isLogged">
                <button id="edicion" routerLink="edithab/{{skill.id}}">
                    <img src="../../../assets/imagenes/iconos/editar.svg" class="img-fluid" id="edicion">
                </button>
              </td>
              <td *ngIf="isLogged">
                <button id="edicion" (click)="delete(skill.id)">
                    <img src="../../../assets/imagenes/iconos/borrar.svg" class="img-fuid" id="edicion">
                </button>
              </td>
            </div>
        </div>
    </div>
</body>
