<body>
    <div class="container">
        <div id="texto">
            <h2>HABILIDADES BLANDAS Y DURAS</h2>
        </div>
        <div class="row align-items-center justify-content-between" id="hab">
            <div class="col-3">
                <circle-progress
              [percent]="75"
              [subtitle]="'HTML'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="75"
              [subtitle]="'CSS'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="60"
              [subtitle]="'JAVASCRIPT'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.6cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="60"
              [subtitle]="'C++'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            
        </div>
        <div class="row align-items-center justify-content-between" id="hab">
            <div class="col-3">
                <circle-progress
              [percent]="90"
              [subtitle]="'TRABAJO GRUPAL'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.45cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="100"
              [subtitle]="'RESPONSABILIDAD'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.42cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="80"
              [subtitle]="'CREATIVIDAD'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.57cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-3">
                <circle-progress
              [percent]="95"
              [subtitle]="'PERTENENCIA'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.57cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            
        </div>
        <div class="row align-items-center justify-content-between" id="idiomas">
            <div id="texto">
                <h3>IDIOMAS</h3>
            </div>
            <div class="col-4" id="ingles">
                <circle-progress
              [percent]="50"
              [subtitle]="'INGLES'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-4" id="español">
                <circle-progress
              [percent]="100"
              [subtitle]="'ESPAÑOL'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
            <div class="col-4" id="italiano">
                <circle-progress
              [percent]="25"
              [subtitle]="'ITALIANO'"
              [radius]="90"
              [outerStrokeWidth]="16"
              [innerStrokeWidth]="8"
              [outerStrokeColor]="'#FA1C73'"
              [innerStrokeColor]="'#D586FD'"
              [animation]="true"
              [animationDuration]="1000"
              [titleColor]="'#000000'"
              [unitsColor]="'#000000'"
              [unitsFontSize]="'0.5cm'"
              [titleFontSize]="'0.5cm'"
              [subtitleFontSize]="'0.7cm'"
              [subtitleColor]="'#000000'"
              [responsive]="true"
              >
            </circle-progress>
            </div>
        </div>
    </div>
</body>
