<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/imagenes/iconos/argentina.png" alt="Argentina Programa - #YoProgramo"
            width ="300px" height="50px">
        </div>
        <div class="redes">
            <a href="https://www.instagram.com/araujojulii/?next=%2F" target="_blank">
                <img src="../../../assets/imagenes/iconos/instagram.svg" id="instagram"></a>
            <a href="https://twitter.com/AraujoJuli4"   target="_blank">
                <img src="../../../assets/imagenes/iconos/twitter.svg" id="twitter">
            </a>
            <button type="button" class="btn btn-outline-light"> INGRESAR</button>
        </div>
    </div>
</div>
