.row{
    padding-bottom:7px;
    padding-top: 10px;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.redes img{
    width: 40px;
    height: 40px;
}
.ingresar{
    padding-left :25px;
}


