body{
    background-color: #C576F9;
}
.container{
    padding-top: 100px;
    padding-bottom:50px;
}
.container h2 h4 p li{
    color:black
}
h2{
    font-size: 1.2cm;
    font-weight: bolder;
    color:black;
}
h4,h5{
    display:inline;
    color:black;
}