<body>
    <div class="container">
        <h2>Experiencia laboral</h2>
        <div class="row align-items-center justify-content-between">
            <div class="col-10">
                <ul>
                    <li>
                        <h4>Trabajo 1</h4> - <h5>(años)</h5>
                        <p>Descrpcion del puesto</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Trabajo 2</h4> - <h5>(años)</h5>
                        <p>Descrpcion del puesto</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h4>Trabajo 3</h4> - <h5>(años)</h5>
                        <p>Descrpcion del puesto</p>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>
