
body{
    background-image: url(" ../../../../../assets/imagenes/fondos/fondogral.jpg");
    background-position: center;
    background-size: cover;
    padding : 1.3cm;
}
#banner h1{
    font-size: 1.5cm;
    font-weight: bolder;
    text-shadow: 2px 2px 2px darkorange;
}
#banner p{
    font-size: 0.5cm;
    font-weight: bolder;
}
