<body>
    <div class="container">
        <div id="tit">
            <h2>PROYECTOS REALIZADOS</h2>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-4">
                <!--IMAGEN DEL PORTFOLIO-->
                <a href ="">
                    <img src="../../../../../assets/imagenes/portfolio-proyect.PNG" 
                     class ="img-fluid" id="img-portfolio">
                </a>
            </div>
            <div class=col-8 id="descrip">
                <a href=""><h3>Portfolio web</h3></a>
                <p>- 2022 <br> 
                    - Portfolio web hecho como proyecto final de la formación Argentina Programa.
                  Estructurado en Angular y con lenguajes como Javascript.
                  Base de datos hecha en bcdubvubfvufvbu COMPLETAR!!! </p>
            </div>
        </div>
    </div>
</body>
