<body>
    <div class="container">
        <div id="texto">
            <h2>PROYECTOS</h2>
        </div>
        <div class="col-lg-3 botonNuevo">
          <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
              NUEVO PROYECTO
          </button>
      </div>
        
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let Proyecto of proye">
                <td><h3>{{Proyecto.nombrePr}}</h3></td>
                <td>{{Proyecto.descripcionPr}}</td>
                <td><a href="{{Proyecto.linkPr}}">Portfolio</a></td>
                <td *ngIf="isLogged">
                    <button id="edicion" routerLink="/editproy/{{Proyecto.id}}">
                        <img src="../../../assets/imagenes/iconos/editar.svg" class="img-fluid" id="edicion">
                    </button>
                </td>
                <td *ngIf="isLogged">
                    <button id="edicion" (click)="delete(Proyecto.id)">
                        <img src="../../../assets/imagenes/iconos/borrar.svg" class="img-fuid" id="edicion">
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
</body>
