body{
    background-color: #FD3C76;
}
.container{
    padding-top:150px;
    padding-bottom: 150px;
}
#tit{
    text-align:center;
    padding-bottom: 100px;
}
h2 {
    font-size:1.2cm;
    font-weight: bolder;
    color: black;
}
h3 , p{
    color: black;
    text-align:center;
}
#descrip{
    padding-left:100px;
}
#img-portfolio{
    width:500px;
    height:200px;
    box-shadow: 7px 7px #424242;
}
a{
    text-decoration:none;
}