<body>
    <div class="container">
        <h2>Estudios</h2>
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged">
                NUEVO
            </button>
        </div>
        
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td><h3>{{Educacion.nombreEd}}</h3></td>
                    <td>{{Educacion.descripcionEd}}</td>
                    <td *ngIf="isLogged">
                        <button id="edicion" routerLink="editedu/{{Educacion.id}}">
                            <img src="../../../assets/imagenes/iconos/editar.svg" class="img-fluid" id="edicion">
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button id="edicion" (click)="delete(Educacion.id)">
                            <img src="../../../assets/imagenes/iconos/borrar.svg" class="img-fuid" id="edicion">
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</body>
