body{
    background-color : #76BFF9;
}
.container{
    padding-top: 100px;
    padding-bottom:50px;
}
.container h2 h4 p li{
    color:black
}
h2{
    font-size: 1.2cm;
    font-weight: bolder;
    color:black;
}
h4,h5{
    display:inline;
    color:black;
}
#listado-est{
    padding-top: 80px;
    padding-left: 150px;
}
#fich{
    padding-top:50px;
    padding-bottom:0;
}
#AP{
    padding-top: 15px;
    padding-left:8px;
    padding-bottom:15px;
}
#EOA{
    padding-top: 30px;
    padding-left:20px;
    padding-bottom:5px;
}